<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230730.133415-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230806.55609-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230829.123111-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230812.84946-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230829.94553-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230813.73517-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230811.93638-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230716.154720-sym" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>